/build/
target
*.rs.bk
*.iml
.idea
__pycache__
*.pyc
*~
/libkrun.pc
init/init
init/nitro/init
examples/chroot_vm
examples/launch-tee
examples/boot_efi
examples/external_kernel
examples/nitro
examples/consoles
test-prefix
