/build/
target
*.rs.bk
*.iml
.idea
__pycache__
*.pyc
*~
/libkrun.pc
/libkrun_init.pc
init/init
init/nitro/init
examples/chroot_vm
examples/chroot_vm_c
examples/launch-tee
examples/boot_efi
examples/external_kernel
examples/nitro
examples/consoles
examples/rootfs_fedora
test-prefix

# Cross-compilation sysroots (downloaded by Makefile)
/linux-sysroot
/freebsd-sysroot
