[package]
name = "libkrun"
version = "0.1.7"
authors = ["Sergio Lopez <slp@redhat.com>"]
edition = "2021"
build = "build.rs"

[features]
amd-sev = []

[dependencies]
libc = ">=0.2.39"
once_cell = "1.4.1"

devices = { path = "../devices" }
logger = { path = "../logger" }
polly = { path = "../polly" }
utils = { path = "../utils" }
vmm = { path = "../vmm" }

[build-dependencies]
cc = "1.0"

[lib]
name = "krun"
crate-type = ["cdylib"]
