[package]
name = "libkrun"
version = "1.6.0"
authors = ["Sergio Lopez <slp@redhat.com>"]
edition = "2021"
build = "build.rs"

[features]
tee = []
amd-sev = [ "tee" ]
net = []

[dependencies]
env_logger = "0.9.0"
libc = ">=0.2.39"
log = "0.4.0"
once_cell = "1.4.1"

devices = { path = "../devices" }
polly = { path = "../polly" }
utils = { path = "../utils" }
vmm = { path = "../vmm" }

[lib]
name = "krun"
crate-type = ["cdylib"]
