[package]
name = "vmm"
version = "0.1.0"
authors = ["Amazon Firecracker team <firecracker-devel@amazon.com>"]
edition = "2021"

[features]
tee = []
amd-sev = [ "tee", "codicon", "kbs-types", "procfs", "serde", "serde_json", "sev", "curl" ]
net = []

[dependencies]
crossbeam-channel = "0.5"
env_logger = "0.9.0"
libc = ">=0.2.39"
log = "0.4.0"
vm-memory = { version = ">=0.13", features = ["backend-mmap"] }

arch = { path = "../arch" }
devices = { path = "../devices" }
kernel = { path = "../kernel" }
utils = { path = "../utils"}
polly = { path = "../polly" }

# Dependencies for amd-sev
codicon = { version = "3.0.0", optional = true }
kbs-types = { version = "0.5.1, < 0.5.3", features = ["tee-sev", "tee-snp"], optional = true }
procfs = { version = "0.12", optional = true }
serde = { version = "1.0.125", optional = true }
serde_json = { version = "1.0.64", optional = true }
sev = { version = "1.2.0", features = ["openssl"], optional = true }
curl = { version = "0.4", optional = true }
nix = "0.24.1"

[target.'cfg(target_arch = "x86_64")'.dependencies]
cpuid = { path = "../cpuid" }

[target.'cfg(target_os = "linux")'.dependencies]
kvm-bindings = { version = ">=0.6", features = ["fam-wrappers"] }
kvm-ioctls = ">=0.15"

[target.'cfg(target_os = "macos")'.dependencies]
hvf = { path = "../hvf" }

[dev-dependencies]
vmm-sys-util = ">=0.11"
